body {
    font-family: Georgia, sans-serif;
    text-align: center;
}

h1 {
    color: #3333338f;
}

#meal-form, #meal-list {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccccccdd;
    border-radius: 5px;
    width: 50%;
    max-width: 400px;
}

input[type="text"] {
    padding: 5px;
    width: 70%;
    margin-right: 10px;
}

button {
    padding: 5px 10px;
    background-color: #333333e2;
    color: #ffffff;
    border: rgba(255, 173, 173, 0.541);
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

#search-meal {
    width: 100%;
}
