body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

.clock {
    background-color: #ffffff;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.time {
    font-size: 36px;
    font-weight: bold;
}

.controls {
    margin-top: 20px;
}

input[type="time"] {
    font-size: 18px;
    padding: 5px;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #cc00ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8600b3;
}
